@media (max-width: 768px) { 
	h1 {
		padding: 15px 0;
		font-size: 55px;
	}

	p.quote {
    	font-size: 16px;
    	padding: 0 10px;
	}

	.container {
	    width: 350px; height: 350px;
	    margin: 10px auto;
	}

	.btn {
    	width: 160px; height: 160px;
    	border: 8px solid #2980b9;
    	font: normal 39px/155px 'Open Sans', sans-serif;
	}
}

@media (max-width: 480px) {
	h1 {
		padding: 5px 0;
		font-size: 47px;
	}

	p.quote {
    	display: none;
	}

	p.tuts {
	    font-size: 25px;
	    margin: 0 auto;
	}

	p.notes {
    	font-size: 14px;
    	padding: 5px 2px;
	}

	.container {
	    width: 300px; height: 300px;
	    margin: 10px auto;
	}

	.btn {
    	width: 150px; height: 150px;
    	border: 7px solid #2980b9;
    	font: normal 35px/145px 'Open Sans', sans-serif;
	}

	.boom {
	    border: 50px solid #2788c9;
	}

	.ad {
	    margin: 20px auto 0;
	}

	.twitter {
		display: none;
	}
}

@media (max-width : 320px) {
    h1 {
		padding: 0;
		font-size: 45px;
	}

	p.quote {
    	display: none;
	}

	p.tuts {
	    font-size: 26px;
	    margin: 0 auto;
	}

	p.notes {
    	font-size: 12px;
    	padding: 5px 2px;
	}

	.container {
	    width: 250px; height: 250px;
	    margin: 10px auto;
	}

	.btn {
    	width: 100px; height: 100px;
    	border: 5px solid #2980b9;
    	font: normal 30px/100px 'Open Sans', sans-serif;
	}

	.boom {
	    border: 50px solid #2788c9;
	}

	.twitter {
		display: none;
	}

	.ad {
	    margin: 20px auto 0;
	}
}




